*{
    box-sizing: border-box;
    font-family: 'Segoe UI';
    padding: 0px;
    margin: 0px;
}
.navbar{
    width: 100%;
    height: 100px;
    background-color: #FAD8FF;
}

.navbar .menu b{
    font-size: 65px;
    color: #600092;
}

.navbar .menu img{
    width: 90px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 5px;
}

.menu ul li{
    float: left;
    list-style-type: none;
    color: #600092;
    font-size: 25px;
}

.menu ul .right{
    float: right;
    padding-top: 30px;
    padding-right: 30px;
}

.menu ul .right a{
    text-decoration: none;
}

.menu ul .right .active{
    font-weight: bold ;
}

.menu ul #login{
    padding-top: 15px;
}
.menu ul li .login{
    border-radius: 43px;
    height: 65px;
    width: 170px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #FAD8FF;
    background-color: #600092;
    border-color: #600092;
    text-shadow: 0px 3px 6px #00000029;
    box-shadow: 0px 5px 4px #00000029;
    margin-left: 0px;
    margin-right: 0px;
}
.flex-container {
    display: flex;
    flex-direction: row;
    background: transparent linear-gradient(236deg, #600092 0%, #CE95EA 100%) 0% 0% no-repeat padding-box;
    font-size: 30px;
  }
  
  .flex-item-left {
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    flex: 45%;
    text-align: right;
  }
  
  .flex-item-right {
    padding: 20px;
    flex: 55%;
    padding-top: 100px;
    text-align: left;
    font: normal normal normal 40px/53px Segoe UI;
    vertical-align: middle;
    letter-spacing: 0px;
    color: #FAD8FF;
  }
  .flex-item-right b{
    font: normal normal bold 60px/80px Segoe UI;
    letter-spacing: 0px;
    color: #FAD8FF;
    text-shadow: 0px 3px 6px #00000029;
  }
  .flex-item-right{
      float: left;
  }
  .flex-item-right img{
    max-width: 55px;
    float: left;
    margin: 0 10px 0 0;
  }
  .flex-item-right p{
      padding-top: 31px;
  }
  
  button{
    margin-left: 40%;
    width: 250px;
    height: 80px;
    background-color: #600092 ;
    text-align: center;
    border-radius: 40px;
    font-size: 30px;
    color:#FAD8FF ;
    opacity: 1;
    font-weight: bold;
    border: none;
    box-shadow: 0px 7px 6px #00000029;
    text-shadow: 0px 3px 6px #00000029;
}

.about{
    padding: 50px;
}

.about b{
    text-align: left;
    font: normal normal 600 60px/80px Segoe UI;
    letter-spacing: 0px;
    color: #600092;
}
.about p{
    text-align: left;
    font: normal normal normal 30px/40px Segoe UI;
    letter-spacing: 0px;
    color: #600092;
    padding-top: 14px;
}